footer
{
    min-height: 6vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 0.25em solid var(--color-primary);
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    .logo
    {
        height: 3vh;
        margin-bottom: 0.5vh;
    }
    letter-spacing: 0.075em;
    font-size: 1.2vh;
    color: var(--color-tertiary-fore);
    background-color: var(--color-tertiary);
}