@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family:'Open Sans', sans-serif ;
}
body{
    background-color: var(--color-background);
    overflow-x: hidden ;
}

/* navbar and Banner */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    
    
}
header .logo__index{
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
header .toggle{
    position: relative;
    width: 36px;
    height: 28px;
    cursor:pointer
}

li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 1.1rem;
    
}


.navbar__itens{
    width: 100%;
    text-decoration: none;
    font-size: 1.1rem;
    color: aliceblue;
    padding: 10px;
}
.navbar__itens:hover{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: var(--color-secondary);
    transition: background-color 0.5s ease-in-out 
}
.active{
    background-color: white;
    border-radius: 10px;
    color: var(--color-secondary);
}
.active:hover{
    background-color: rgba(240, 248, 255, 0.979);
}



.slogan{
    color: aliceblue;
    display: flex;
    width: 100%;
    height: 30vh;
    top: 30vh;
    justify-content: center;
    font-size: 1.5rem;

}
.autotype__slogan{
    height: 0vh;
    display: flex;
    justify-content: center;
    top: 8vh;
    color: aliceblue;
    width: 100%;
    margin: 0 auto !important;
    font-size: 1.2rem;
    
}
span{
    color: var(--color-primary);
}
.banner__index{
    position: relative;
    width: 100%;
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}
#vanta-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}


/* responsive navbar */
.mobile-nav-toggle{
    display: none;
}

@media screen and (max-aspect-ratio: 11/10)  {
    .navbar__org{
        


        position: fixed;
        inset: 0 0 0 0%;
        
        z-index: 1000;
        padding: 0vh 2em;
        backdrop-filter: blur(1rem);
        background:rgba(174, 0, 255, 0.253);
        
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
        

    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background: url('/img/close.svg');
    }
    .navbar__org[data-visible="true"]{
        transform: translateX(0%);
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        color: aliceblue;
        z-index: 9999;
        background: url('/img/menu.svg');
        background-repeat: no-repeat ;
        width: 3rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    li{
        display: block;
        gap: 10em;
        padding-top: 5rem;
    }

    @supports (backdrop-filter: blur(1rem)){
        .navbar__org{
            backdrop-filter: blur(1rem);
            background:rgba(211, 211, 211, 0.068);
    }
    .navbar__itens{
        
        font-size: 2.5vh;
        
    }
}
    
}

main{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    
}
h4{
 color: var(--color-primary);
 text-transform: uppercase;
letter-spacing: 5px;
}
.about{
    background: red;
    position: relative;
    width: 100%;
    display: none;
    object-fit: cover;
    
}


.team{
    display: none;
}
.resource{
    display:none;
}